*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    font-size: 10px;
}
body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* padding: 2%; */
}
a{
    text-decoration: none;
    color: #788d82;
}
#header{
    /* background-color: aliceblue; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 2rem 6rem ;
    box-shadow: 2px 2px 2px #9fb9ac;

}
#footer{
    /* background-color: aliceblue; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 2rem 6rem ;
    box-shadow: 2px 2px 2px #9fb9ac;

}
.logo__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* margin-right: auto; */
    align-items: center;
}
.logo{
    width: 45px;
    height: 45px;
}
.logo__name{
    font-size: 1.5rem;
    color: #0fbd66;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.header-link__container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
.header-link__container a{
    margin-right: 1.2rem;
    font-size: 1.7rem;
    text-transform: capitalize;
}
.header-link__container a:hover{
    color: #0fbd66;
    transition: color 0.5s;
}
.header-link__container a:first-child{
    color: #0fbd66;
}
.search{
    /* padding: 0.1rem; */
    align-content: center;
    background-color: #0fbd66;
    border-radius: 0.3rem;
}
input[type=search]{
    padding: 0.4rem;
    border: 1px solid #a2b8ad;
    /* border-radius:0.4rem; */
    outline: none;
}
.search__icon{
    background-color: #0fbd66;
    color: white;
    font-size: 1.5rem !important;
}
.search__icon:hover{
    color: white !important;
}
/* _________________________ */
#section__one{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 2rem 6rem ;
    /* padding-top: 4rem;
    padding-bottom: 2rem; */
    background-color: #e9eceb;

}
.section__one--text{
    width: 20%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* padding-left: 6rem; */

}
.big-text{
    font-size: 3.5rem;
    text-transform: capitalize;
}
.small-text{
    font-size: 1.5rem;
    color: #788d82;
    text-align: justify;
    word-spacing: 0.5rem;
}
.color-text{
    color: #0fbd66;
}
.section__one--link{
    color: white;
    border: 2px solid #0fbd66;
    background-color: #0fbd66;
    padding: 1rem 2rem;
    text-align: center;
    font-size: 1.5rem;
    width: 12rem;
    height: 4rem;
    border-radius: 0.5rem;
    margin-top: 1rem;
    text-transform: capitalize;
}
.section__one--link:hover{
    opacity: 0.8;
}
.section__two--link{
    color: black;
    border: 2px solid #0fbd66;
    background-color: white;
    padding: 1rem 2rem;
    text-align: center;
    font-size: 1.5rem;
    width: 12rem;
    height: 4rem;
    border-radius: 0.5rem;
    margin-top: 1rem;
    text-transform: capitalize;
    transition: background-color .5s;
}
.section__two--link:hover{
    color: white;
    background-color: #0fbd66;
}

.section__one--img{
    width: 40%;
    
}
.section__one--img img{
    width: 100%;
    height: 30rem;
    object-fit: fill;
    border-radius: 5rem;
    margin-right: 10rem;
    /* box-shadow: 5px 5px 5px #788d82 ; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
}
/* _______________________ */
.section__two{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 2rem 12rem ;
    align-items: center;
    position: relative;

}
.section__two--text{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 30%;
    margin-right: 10rem;
}
.section__two--offer{
    background-color: #0fbd66;
    border-radius: 50%;
    text-align: center;
    display: inline;
    padding:5.5rem 3rem;
    font-size: 1.8rem;
    color: white;
    text-transform: capitalize;
    position: absolute;
    left: 30%;
    /* top: 10%; */
    transform: translate(50%,30%);
}
.text-break{
    word-break: break-all;
    
}
.section__two--img{
    width: 50%;
    padding-left: 3rem;
}
.section__two--img img{
    width: 100%;
    height: auto;
    object-fit: cover;
    
}
/* ___________________________ */
.section__three ,.section__four{
    padding-top: 5rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.sectionThree__text , .sectionFour__text{
    text-align: center !important;
    padding-bottom: 1rem;
    margin-bottom: 2rem;
    font-size: 10rem !important;
}
.card__container{
    padding:2rem 2rem 0;
    width: 28rem;
    height: 40rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    /* border: 2px solid #9fb9ac; */
    border-radius: 1rem;
    margin-bottom: 1rem;
    background-color: white;
    /* background-color: red; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: relative;
    /* justify-content: center; */
    /* align-items: center; */
    /* width: 25%; */
}
.card__container img{
    width: 100%;
    height: 70%;
}
.card__container .sectionFour__img{
    height: 50% !important;
}
.card__link{
    text-align: center;
}
.card__sectionOne ,.card__sectionTwo{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;

}
.card__date--link{
    text-align: center;
    background-color: #0fbd66;
    color: white;
    padding: 1rem 2rem;
    font-size: 1.5rem;
    position: absolute;
    top: 50;
    left: 50;
    transform: translate(50%,460%);
    border-radius: 1.5rem;
}
.simple__link{
    color: #0fbd66;
    font-size: 1.5rem;
    text-transform: capitalize;
    text-align: right;
    margin-top: 2rem 0;
}
.cost-text{
    padding-bottom: 2rem ;
}
.card__text{
    margin-top: 2rem;
    color: black;
    margin-bottom: 0.5rem;
}
/* _________________ */
#section__four{
    background-color: #e9eceb;
    margin-top: 6rem;
    padding-bottom: 2rem;

}
/* __________________________________ */

.contact__container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* text-align: center; */
    margin: 6rem 12rem;
    padding: 1rem 2rem;
    background-color: #0fbd66;
    border-radius: 1rem;

}
.contact__text{
    float: left;
    width: 30%;
    color: white;
}
.input__container{
    float: right;
    width: 40%;
    display: flex;
    flex-direction: column;
}
.email{
    font-size: 2rem;
    padding: 2rem 1rem;
    width: 100%;
    height: 4rem;
    border-radius: 0.5rem;
    /* float: left; */
    margin-right: auto;
}
.subscribe__link{
    background-color: white;
    color:#0fbd66;
    padding: 0.4rem 0.6rem;
    width: 10rem;
    height: 4rem;
    font-size: 2rem;
    border-radius: 0.5rem;
    display: inline;
    text-align: center; 
    margin-left: auto;
    margin-top: 1rem;
}
/* ___________________________ */

.footer__text{
    text-align: center;
    color: #788d82;
    font-size: 2rem;
    text-transform: capitalize;
    margin: 2rem 0;
    padding: 1rem 0;
    width: 100%;
    border-top: 2px solid #a2b8ad;
}
