*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    font-size: 10px;
}
body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* padding: 2%; */
}
@media only screen and (max-width:400px) {

    section#section__one{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    span.small-text{
        font-size: 1rem;
        word-spacing:normal;
    }
    div.section__one--text, div.section__one--img{
        width: 100%;
        margin-bottom: 2rem;
    }
    div.section__two--img{
        display: none;
    }
    div.section__two div.section__two--text{
        width: 80%;    
    }
    div.section__two{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-wrap: wrap;
        padding:1rem 2rem;
        align-items: center;
        position: relative;
        width: 100%;
    
    }
    div.card__container{
        padding:2rem 2rem ;
        width: 20rem;
        height: 30rem;
    }
    a.section__one--link,
    a.section__two--link{
        padding: 0.5rem 1rem;
        font-size: 1rem;
        width: 6rem;
        height: 4rem;
        border-radius: 0.5rem;
        margin-top: 1rem;
        text-transform: capitalize;
    }
    a.section__two--link{
        transition: background-color .5s;
    }
    div.card__sectionOne, div.card__sectionTwo{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    a.card__date--link{
        text-align: center;
        background-color: #0fbd66;
        color: white;
        padding: 0.5rem 1rem;
        font-size: 1rem;
        position: absolute;
        top: 50;
        left: 50;
        transform: translate(60%,10%);
        border-radius: 1.5rem;
    }
    span.big-text.sectionThree__text , span.big-text.sectionFour__text{
        font-size: 4rem ;
    }
    div.contact__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 0;
    width: 100%;
    }
    div.contact__text{
        width: 100%;        
    }
    div.contact__container div.big-text{
        font-size: 2rem;
    }
    div.input__container{
        width: 100%;
        
    }
    input.email{
        padding: 1.5rem 1rem;
        font-size: 1.5rem;
        width: 100%;
    }
    a.subscribe__link{
        margin-right: auto;
    }
    footer#footer{
            background-color: black;
    }
    div.header-link__container{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    }

@media only screen and (max-width:600px) {
    div.navbar__container{
        display: none;
        margin: auto;
    }
    div.mobile__navbar{
        display: flex;
        justify-content:space-evenly;
        text-align: center;
        color: white;
        /* position: absolute; */
        /* margin: 1rem 6rem ; */
        /* right: 0;
        top: 0; */
        padding:  1rem;
    }
    header#header{
        display: flex;
        /* flex-direction: column; */
        /* justify-content: center; */
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
    }
    /* header .header-link__container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap;
        text-align: center;
    } */
    section#section__one{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    span.small-text{
        font-size: 1rem;
        word-spacing:normal;
    }
    div.section__one--text, div.section__one--img{
        width: 100%;
        margin-bottom: 2rem;
    }
    div.section__two{
        display: flex;
        flex-direction: column;
    }
    div.section__two img{
        transform: translateX(-40%);   
    }
    div.section__two--offer{
        border-radius: 50%;
        text-align: center;
        display: inline;
        padding:3.5rem 1.5rem;
        font-size: 1.5rem;
        position: absolute;
        left: 20%;
        transform: translate(50%,30%);
    }
    div.section__two--img,div.section__two--text{
        width: 100%;
        
        
    }
    div.card__sectionOne, div.card__sectionTwo{
        
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    span.big-text.sectionThree__text , span.big-text.sectionFour__text{
        font-size: 4rem ;
    }
    
div.contact__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
div.contact__text{
    width: 100%;
    font-size: 3rem;
}
div.input__container{
    width: 100%;
    
}
input.email{
    padding: 1.5rem 1rem;
    font-size: 1.5rem;
    width: 100%;
}

a.subscribe__link{
    margin-right: auto;
}
    footer#footer{
        background-color: black;
    }
}

@media only screen and (min-width:601px) and (max-width:768px){
    /* div.navbar__container{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
    } */
    header#header{
        display: flex;
        /* flex-direction: column; */
        /* justify-content: center; */
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
        /* overflow: hidden; */
    }
    /* div.navbar__container{
        display: none;
    } */
    div.navbar__container{
        display: none;
        /* flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
        position: relative; */
    }
    div.mobile__navbar{
        display: flex;
        justify-content:space-evenly;
        text-align: center;
        color: white;
        /* position: absolute; */
        /* margin: 1rem 6rem ; */
        /* right: 0;
        top: 0; */
        padding:  1rem;
    }
    span.small-text{
        font-size: 1.2rem;
        word-spacing:normal;
    }
    span.big-text{
        font-size: 5rem;
    }
    div.section__two{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    div.section__two img{
        transform: translate(-20%);  
        width: 60%; 
    }
    div.section__two--offer{
        border-radius: 50%;
        text-align: center;
        display: inline;
        padding:3.5rem 1.5rem;
        font-size: 1.5rem;
        position: absolute;
        left: 30%;
        transform: translate(50%,5%);
    }
    div.section__two--img,div.section__two--text{
        width: 100%;
    }
    div.card__sectionOne {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        /* padding: 0 8rem; */
    }
    div.card__container{
        padding:2rem 2rem ;
        width: 45rem;
        height: 45rem;
    }
    div.card__sectionTwo {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        /* padding: 0 8rem; */
        
    }
     /* div.card__sectionOne div.card__sectionTwo{
        display: flex;
        flex-direction: column ;
    } */
    div.card__sectionTwo div.card__container{
        padding:4rem 4rem 0;
        width: 50rem;
        height: 50rem;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-evenly;
        text-align: center;
        position: relative;
        align-self: center;
        /* left: 50; */
        /* transform: translateX(-15%); */
    }
    div.card__container a.card__date--link{
        position: absolute;
        top: 50;
        left: 50;
        transform: translate(80%,70%);
        width: 15rem;
    }
    .contact__container{
        display: flex;
        flex-direction: row;
        justify-content: center;
        /* text-align: center; */
        margin: 6rem 12rem;
        padding: 1rem 2rem;
        background-color: #0fbd66;
        border-radius: 1rem;
    
    }
    div.contact__text{
        font-size: 2rem;
    }
    .input__container{
        float: right;
        width: 40%;
        display: flex;
        flex-direction: column;
    }
    input.email{
        font-size: 1.5rem;
    }
    a.subscribe__link{
        padding: 0.4rem 0.6rem;
        width: 8rem;
        height: 3rem;
        font-size: 1.5rem;
    }
    footer#footer{
        background-color: black;
    } 
}

@media only screen and (min-width:768px) and (max-width:992px){
    span.small-text{
        font-size: 1.2rem;
        word-spacing:normal;
    }
    div.section__two img{
        transform: translate(-20%);  
        width: 80%; 
    }
    div.section__two--offer{
        border-radius: 50%;
        text-align: center;
        display: inline;
        padding:3.5rem 1.5rem;
        font-size: 1.5rem;
        position: absolute;
        left: 30%;
        transform: translate(50%,5%);
    }
    div.card__sectionOne {
        max-width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
        /* margin: 2rem 4rem; */
    }
    div.card__container{
        width: 25rem;
    }
    a.section__one--link, 
    a.section__two--link{
        font-size: 1rem;

    }
    a.card__date--link{
    font-size: 1.2rem;
    transform: translate(50%,60%);
    }
    input.email{
        font-size: 1.6rem;
    }
}
/* @media only screen and (min-width:992px) and (max-width:1200px) {
    
} */
/* ______________________________________________________________________ */
/* ______________________________________________________________________ */
a{
    text-decoration: none;
    color: #788d82;
}
.mobile__navbar{
    display: none;
}
.navbar__icon i{
    font-size: 2rem;
    text-align: center;
    padding: 1rem 1.5rem;
    border-radius: 0.5rem;
    color: white !important;
    background-color: #0fbd66;
}

#header{
    /* background-color: aliceblue; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 2rem 6rem ;
    /* box-shadow: 2px 2px 2px #9fb9ac; */

}
#footer{
    /* background-color: aliceblue; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 2rem 6rem ;
    box-shadow: 2px 2px 2px #9fb9ac;

}
.logo__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.logo{
    width: 45px;
    height: 45px;
}
.logo__name{
    font-size: 1.5rem;
    color: #0fbd66;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.navbar__container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
.header-link__container a{
    margin-right: 1.2rem;
    font-size: 1.7rem;
    text-transform: capitalize;
}
.header-link__container a:hover{
    color: #0fbd66;
    transition: color 0.5s;
}
.header-link__container a:first-child{
    color: #0fbd66;
}
.search{
    /* padding: 0.1rem; */
    align-content: center;
    background-color: #0fbd66;
    border-radius: 0.3rem;
}
input[type=search]{
    padding: 0.4rem;
    border: 1px solid #a2b8ad;
    /* border-radius:0.4rem; */
    outline: none;
}
.search__icon{
    background-color: #0fbd66;
    color: white;
    font-size: 1.5rem !important;
}
.search__icon:hover{
    color: white !important;
}
/* _________________________ */
#section__one{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 2rem 6rem ;
    background-color: #e9eceb;

}
.section__one--text{
    width: 20%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* padding-left: 6rem; */

}
.big-text{
    font-size: 3.5rem;
    text-transform: capitalize;
}
.small-text{
    font-size: 1.5rem;
    color: #788d82;
    text-align: justify;
    word-spacing: 0.5rem;
}
.color-text{
    color: #0fbd66;
}
.section__one--link{
    color: white;
    border: 2px solid #0fbd66;
    background-color: #0fbd66;
    padding: 1rem 2rem;
    text-align: center;
    font-size: 1.5rem;
    width: 12rem;
    height: 4rem;
    border-radius: 0.5rem;
    margin-top: 1rem;
    text-transform: capitalize;
}
.section__one--link:hover{
    opacity: 0.8;
}
.section__two--link{
    color: black;
    border: 2px solid #0fbd66;
    background-color: white;
    padding: 1rem 2rem;
    text-align: center;
    font-size: 1.5rem;
    width: 12rem;
    height: 4rem;
    border-radius: 0.5rem;
    margin-top: 1rem;
    text-transform: capitalize;
    transition: background-color .5s;
}
.section__two--link:hover{
    color: white;
    background-color: #0fbd66;
}

.section__one--img{
    width: 40%;
    
}
.section__one--img img{
    width: 100%;
    height: 30rem;
    display: block;
    object-fit: fill;
    border-radius: 5rem;
    margin-right: 10rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
}
/* _______________________ */
.section__two{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 2rem 12rem ;
    align-items: center;
    position: relative;

}
.section__two--text{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 30%;
    margin-right: 10rem;
}
.section__two--offer{
    background-color: #0fbd66;
    border-radius: 50%;
    text-align: center;
    display: inline;
    padding:5.5rem 3rem;
    font-size: 1.8rem;
    color: white;
    text-transform: capitalize;
    position: absolute;
    left: 50%;
    /* top: 10%; */
    transform: translate(50%,30%);
}
.text-break{
    word-break: break-all;
    
}
.section__two--img{
    width: 50%;
    padding-left: 3rem;
    position: relative;
    
}
.section__two--img img{
    width: 100%;
    height: auto;
    object-fit: cover;
    
}
/* ___________________________ */
.section__three ,.section__four{
    padding-top: 5rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    /* width: 80%; */
    padding: 0 8%;
    margin: 0 auto;
}
.sectionThree__text , .sectionFour__text{
    padding-bottom: 1rem;
    margin-bottom: 2rem;
    font-size: 10rem;
}
.card__container{
    padding:2rem 2rem ;
    width: 30rem;
    height: 45rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    /* border: 5px solid #bcccc4; */
    border-radius: 1rem;
    margin-bottom: 1rem;
    background-color: white;
    /* background-color: red; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: relative;
    justify-content: space-evenly;
    /* align-items: center; */
    /* width: 25%; */
}
.card__container img{
    width: 100%;
    height: 70%;
}
.card__container .sectionFour__img{
    height: 50% !important;
}
.card__link{
    text-align: center;
}
.card__sectionOne {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    /* padding: 0 3rem; */

}
.card__date--link{
    text-align: center;
    background-color: #0fbd66;
    color: white;
    padding: 1rem 2rem;
    font-size: 1.5rem;
    position: absolute;
    top: 50;
    left: 50;
    transform: translate(60%,40%);
    border-radius: 1.5rem;
}
.simple__link{
    color: #0fbd66;
    font-size: 1.5rem;
    text-transform: capitalize;
    text-align: right;
    margin-top: 2rem 0;
}
.cost-text{
    padding-bottom: 2rem ;
}
.card__text{
    margin-top: 2rem;
    color: black;
    margin-bottom: 0.5rem;
}
/* _________________ */
#section__four{
    background-color: #e9eceb;
    margin-top: 6rem;
    padding-bottom: 2rem;

}
/* __________________________________ */

.contact__container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* text-align: center; */
    margin: 6rem 12rem;
    padding: 1rem 2rem;
    background-color: #0fbd66;
    border-radius: 1rem;
}
.contact__text{
    float: left;
    width: 30%;
    color: white;
}
.input__container{
    float: right;
    width: 40%;
    display: flex;
    flex-direction: column;
}
.email{
    font-size: 2rem;
    padding: 2rem 1rem;
    width: 100%;
    height: 4rem;
    border-radius: 0.5rem;
    /* float: left; */
    margin-right: auto;
}
.subscribe__link{
    background-color: white;
    color:#0fbd66;
    padding: 0.4rem 0.6rem;
    width: 10rem;
    height: 4rem;
    font-size: 2rem;
    border-radius: 0.5rem;
    display: inline;
    text-align: center; 
    margin-left: auto;
    margin-top: 1rem;
}
/* ___________________________ */

.footer__text{
    text-align: center;
    color: #788d82;
    font-size: 2rem;
    text-transform: capitalize;
    margin: 2rem 0;
    padding: 1rem 0;
    width: 100%;
    border-top: 2px solid #a2b8ad;
}
